
@main("Kontakt") {

    <div class="page-header text-center">
        <h2>Kontakt sida</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <legend class="text-center header">Skriv till oss</legend>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <input id="fname" name="name" type="text" placeholder="Förnamn" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <input id="lname" name="name" type="text" placeholder="Efternamn" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <input id="email" name="email" type="text" placeholder="Epost" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <input id="phone" name="phone" type="text" placeholder="Telefon" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <textarea class="form-control" id="message" name="message" placeholder="Skriv ditt meddelande här..." style="overflow:auto;resize:none"  rows="7"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-info btn-block">Skicka</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="panel panel-default">
                        <div class="text-center header">Här finns vi</div>
                        <div class="panel-body text-center">
                            <h4>Address</h4>
                            <div>
                                2217 Washington Blvd<br />
                                Washington DC<br />
                                +46(0) 1234 1234<br />
                                service[a]company.com<br />
                            </div>
                            <hr />
                            <div id="map-canvas" class="map">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkS-FFG1PaeMatmHAA7jrsk4BBJEBl0jQ">
    </script>

    <script type="text/javascript">
    function initialize() {
    var mapOptions = {
    center: { lat: 58.409068, lng: 15.627938},
    zoom: 14
    };
    var marker = new google.maps.Marker({
    position: {lat: 58.409068, lng: 15.627938},
    title: "Property Location"
    });
    var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);
    marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <style>
    .map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    }

    .header {
    background-color: #F5F5F5;
    color: #36A0FF;
    height: 70px;
    font-size: 27px;
    padding: 10px;
    }
    </style>

}