@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <style> /* copied from bootstrap-starter template */
        body { padding-top: 50px; }
        .help-inline  { color:#953333!important; }
        input:out-of-range { border:2px solid red; }
        </style>
        <title>@title</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="home">CMS</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">

                        <li><a href="home">Home</a></li>
                        <li><a href="settings">Settings</a></li>
                        <li><a href="page">Pages</a></li>
                        </ul>
                    @if(session.get("mail")) {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout">Sign out</a></li>
                        </ul>

                    } else {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/login">Sign in</a></li>
                        </ul>
                    }

                    <div class="col-sm-3 col-md-3 pull-right">
                        <form class="navbar-form navbar-right" method="POST" id="searchForm"
                        action="@routes.Application.searchMethod()" name="searchForm">
                            <div class="input-group" >
                                <input type="text" class="form-control"
                                placeholder="Search" name="search" id="search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div style="padding:20px">
        </div>

        <div class="container">
            <div class="starter-template">
                <div class="lead">
                @content
                </div>

                @if(session.get("mail")) {
                    Inloggad som:
                    <h4>@session.get("mail")</h4>
                } else {
                    Ej inloggad
                    <dd>
                    <a href="register"><b>Registrera konto</b></a>
                    </dd>
                }
            </div>
        </div><!-- /.container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascripts/jquery-2.1.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    </body>
</html>