@(page_form: Form[Page])

@main("Page") {
    <h2>Add new page</h2>
    <div id="page">
    @helper.form(action = routes.Application.pageValid(), 'id -> "page"){
        <fieldset>
            @helper.inputText(
                page_form("pageName"),
                '_label -> "Page name",
                '_help -> "This field is required",
                '_showConstraints -> false
            )
            @helper.checkbox(
                page_form("isActive"),
                '_label -> "Make page active",
                '_disabled->"",
                '_showConstraints->false
            )
        </fieldset>
        <button type="submit" class="btn btn-primary btn-default">Create page</button>
    }
    </div>
}