@(pages: List[models.Page], pageForm: Form[models.Page], editForm: Form[models.Page])
@import helper._
@main("Mina sidor") {
    <div class="page-header text-center">
        <h2>Mina sidor</h2>
    </div>

    @form(routes.Pagecontroller.createPage()) {

        <div class="col-lg-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Skapa en sida</h4>
                </div>
                <div class="panel-body">
                    <form role="form" method="POST">
                        <div class="form-group">
                            <label> <input type="text" class="form-control" required="" name="pageName"
                            placeholder="Skriv ett namn" value="@pageForm("pageName").value"></label>

                            @if(pageForm.hasGlobalErrors) {
                                <h4><strong><p class="error">@pageForm.globalError.message</p></strong></h4>
                            }
                            <label for="is_active">Aktivera/Inaktivera konto: <br>
                                <input type="checkbox" id="is_active" class="checkbox-inline" name="isActive"
                                placeholder="Active" value="1" checked> <br>
                                <input type="hidden" name="isActive" id="inactive" value="0" /></label>
                            <br>
                            <button type="submit" class="btn btn-info">Skapa sida</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

    <div class="col-lg-7">
        <div class="panel panel-info">
            <div class="panel-heading">

            @if(pages.size > 0) {
                <h4>Du har: @pages.size sidor</h4>
            </div>


            @for(page <- pages) {
                <li class="list-group-item">
                    <strong>Namn: </strong>
                    @page.pageName
                    |
                    <strong> Status: </strong>
                    @if(page.isActive.equals(false)) {
                        Inaktiv
                    } else {
                        Aktiv
                    }
                    |
                    <strong>Skapad: </strong>
                    @page.createDate.format("YYYY-MM-dd")

                    <div class="popover-markup">
                        <button type="button"  id="popover" name="popover" class="trigger btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span> Ändra</button>
                        <div class="head hide">Ändra namn</div>
                        <div class="content hide">

                        @form(routes.Pagecontroller.updateName(page.id)) {
                            <div class="form-group">
                                <input name="newname" id="newname" required="" value="@editForm("newname").value"
                                type="text"
                                class="form-control"
                                placeholder="Skriv något...">
                            </div>

                            <button type="submit" id="edit" class="btn btn-primary btn-block btn-sm">
                                <span class="glyphicon glyphicon-ok-sign"></span> Ok</button>
                        }
                        </div>

                        <div class="pull-right">
                        @form(routes.Pagecontroller.deletePage(page.id)) {
                            <button type="submit" value="Delete" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> Radera</button>
                        }
                        </div>
                    </div>

                </li>
            }
            } else {
            <h3>Du har inga sidor</h3>
        }
        </div>
    </div>


}
<script>
$("#popover").on('click', function(){
console.log("FIRE");
var x = setTimeout('$("#newname").focus()', 305);
});
</script>

<script>
$('.popover-markup>.trigger').popover({
html: true,
title: function () {
return $(this).parent().find('.head').html();
},
content: function () {
return $(this).parent().find('.content').html();
}
});
</script>

<script>
$("[id='is_active']").bootstrapSwitch({size: 'small'});
if(document.getElementById("inactive").checked){
document.getElementById('is_active').disabled = true;
}
</script>
