@(pages: List[models.Page], pageForm: Form[models.Page], editForm: Form[models.Page])
@import helper._
@main("Page") {
    <div class="page-header text-center">
        <h2>Mina sidor</h2>
    </div>

    @form(routes.Pagecontroller.createPage()) {
        <div class="row">
            <div class="col-lg-6">
                <div id="page">
                    <h4>Create new page</h4>
                    <form role="form" method="POST">
                        <div class="form-group">
                            <label> <input type="text" class="form-control" required="" name="pageName"
                            placeholder="Page name" value="@pageForm("pageName").value"></label>

                            @if(pageForm.hasGlobalErrors) {
                                <h4><strong><p class="error">@pageForm.globalError.message</p></strong></h4>
                            }
                            <div class="checkbox">
                                <label><input type="checkbox" name="isActive" value="1"><strong>Publish page</strong>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-info">Create page</button>
                        </div>
                    </form>
                </div>
            </div>
            }
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">

            @if(pages.size > 0) {
                <h4>You have: @pages.size page(s)</h4>
            </div>


            @for(page <- pages) {
                <li class="list-group-item">
                    <strong>Name: </strong>
                    @page.pageName
                    -
                    <strong> Active: </strong>
                    @page.isActive
                    -
                    <strong>Created: </strong>
                    @page.createDate.format("YYYY-MM-dd")





                    <div class="popover-markup">
                        <button type="button"  id="popover" name="popover" class="trigger btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span> Edit</button>
                        <div class="head hide">Change name</div>
                        <div class="content hide">

                        @form(routes.Pagecontroller.updateName(page.id)) {
                            <div class="form-group">
                                <input name="newname" id="newname" required="" value="@editForm("newname").value"
                                type="text"
                                class="form-control"
                                placeholder="Type something…">
                            </div>
                            <button type="submit" id="edit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-ok-sign"></span>Ok</button>
                        }

                        </div>
                        <div class="pull-right">
                        @form(routes.Pagecontroller.deletePage(page.id)) {
                            <button type="submit" value="Delete" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> Delete</button>
                        }
                    </div>
                    </div>

                </li>
            }
            } else {
            <h3>You have no page(s)</h3>
        }
        </div>
    </div>
</div>

}
<script>
$("#popover").on('click', function(){
console.log("FIRE");
var x = setTimeout('$("#newname").focus()', 305);
});
</script>

<script>
$('.popover-markup>.trigger').popover({
html: true,
title: function () {
return $(this).parent().find('.head').html();
},
content: function () {
return $(this).parent().find('.content').html();
}
});
</script>
