@(regForm: Form[User])
@main("Registrera konto") {
    <style>
    body {
    padding-top: 100px;
    }
    </style>


    @helper.form(action = routes.Usercontroller.registerValidation()){

        <div class="row centered-form">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-2 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="text-center">Registrera ett konto</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" class="form-control"  name="firstName"
                                        placeholder="Förnamn" value="@regForm("firstName").value">
                                    </div>
                                </div>
                                    </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" class="form-control" name="lastName"
                                        placeholder="Efternamn" value="@regForm("lastName").value">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <input type="email" class="form-control" name="email"
                                        placeholder="Epost" value="@regForm("email").value">
                                    </div>
                                        <p class="help-block" style="color: red">* Obligatoriskt fält</p>
                                </div>
                                    </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <input type="email" class="form-control" name="confirm_email"
                                        placeholder="Bekräfta epost" value="@regForm("confirm_email").value">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" class="form-control" name="password"
                                        placeholder="Lösenord" value="@regForm("password").value">
                                    </div>
                                        <p class="help-block" style="color: red">* Obligatoriskt fält</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" class="form-control" name="confirm_password"
                                        placeholder="Bekräfta lösenord" value="@regForm("confirm_password").value">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit"  class="btn btn-info btn-block">Skapa konto</button>
                        </form>
                    </div>
                </div>
                }
        @if(regForm.hasGlobalErrors) {
            <div class="alert alert-danger col-lg-12 text-center" role="alert">
                <h4><strong><p class="error">@regForm.globalError.message</p></strong></h4>
            </div>
        }
</div>
</div>
}
