@(users: List[models.User])

@main("Search") {
    <header>
        <h2>Search result:</h2>
    </header>

    <section>
    @if(users.isEmpty) {
        <h3>No users found</h3>
    } else {
        @for(user <- users) {
            <h3><strong>Found: @users.size </strong></h3>
            <table class="table" width="647">
                <thead>
                    <tr>
                        <th>Firstname:</th>
                        <th>Lastname:</th>
                        <th>Email:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@user.firstName.toUpperCase</td>
                        <td>@user.lastName.toUpperCase</td>
                        <td>@user.email</td>
                    </tr>
                </tbody>
            </table>

        }
    }
    </section>
}




