@(settings_form: Form[models.User],pass_form:Form[models.User], dis_form:Form[models.User], user: User)

@main("Settings") {
    <div class="page-header text-center" xmlns="http://www.w3.org/1999/html">
    <h2>Settings</h2>
    </div>
    <div class="row">
    <div class="tabbable">
        <div class="panel with-nav-tabs panel-info">
            <div class="panel-heading">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#one" data-toggle="tab">Name</a></li>
            <li><a href="#two" data-toggle="tab">Password</a></li>
            <li><a href="#twee" data-toggle="tab">Account</a></li>
        </ul>
                </div>
        @helper.form(action = routes.Settingscontroller.updateName(user.getId)){
            <div class="panel-body">
        <div class="tab-content">
            <br />
            <div class="tab-pane active" id="one">
                <form class="form-inline" role="form">
                    <div class="row-fluid">
                        <div class="form-group col-xs-4 col-lg-3">
                            <label for="firstName">Firstname:</label>
                            <input type="text" class="form-control" name="firstName"
                            placeholder="Firstname" value="@settings_form("firstName").value">

                            <label for="lastName">Lastname:</label>
                            <input type="text" class="form-control" name="lastName"
                            placeholder="Lastname" value="@settings_form("lastName").value"><br>
                            <button type="submit" id="namebtn" class="btn btn-info">Submit changes</button>
                            }

        @if(settings_form.hasGlobalErrors) {
            <h4><strong><p class="error">@settings_form.globalError.message</p></strong></h4>
        }
                        </div>
                    </div>
                </form>
                <div class="row">
                    <h4>Current name: </h4>
                    <strong>@user.firstName @user.lastName </strong>
                </div>
            </div>


            <div class="tab-pane" id="two">
            @helper.form(action = routes.Settingscontroller.updatePass(user.id)){
                <form class="form-inline" role="form">
                    <div class="row-fluid">
                        <div class="form-group col-xs-4 col-lg-3">
                            <label for="current_password">Current Password:</label>
                            <input type="password" class="form-control" name="current_password"
                            placeholder="Current Password" value="@pass_form("password").value">

                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password"
                                placeholder="Password" value="@pass_form("password").value">

                            <label for="confirm_email">Confirm Password:</label>
                            <input type="password" class="form-control" name="confirm_password"
                            placeholder="Confirm Password" value="@pass_form("password").value">
                                <br>
                                <button type="submit" id="passbtn" class="btn btn-info">Submit changes</button>
                            }
                @if(pass_form.hasGlobalErrors) {
                    <h4><strong><p class="error">@pass_form.globalError.message</p></strong></h4>
                }
                @if(flash.contains("success")) {
                    <p class="success"><h4><strong>@flash.get("success")
                    </strong></h4></p>
                }

                            </div>
                    </div>
                </form>

                <div class="row">
                    <h4>Current pw: </h4>
                    <strong> @user.password </strong>
                </div>
            </div>


            <div class="tab-pane" id="twee">
            @helper.form(action = routes.Settingscontroller.disableAccount(user.id)){
                <form class="form-inline" role="form">
                    <div class="row-fluid">
                        <div class="form-group col-xs-4 col-lg-3">
                            <label for="is_active">Make account active:
                            <input type="checkbox" id="is_active" class="checkbox-inline" name="is_active"
                            placeholder="Active" value="1" checked></label>
                            <input type="hidden" name="is_active" id="inactive" value="0" />

                            <br>
                            <button type="submit" id="acbtn" class="btn btn-info">Submit changes</button>
                        </div>
                    </div>
                </form>
            }
                <div class="well-sm">
                    <strong>Account is: </strong>
                    @if(user.isActive.equals(false)) {
                        <p style="color: red"><strong> Disabled </strong></p>
                    } else {
                        <p style="color: forestgreen"><strong> Enabled </strong></p>
                    }


                </div>
            </div>
        </div>
    </div>
    </div>
        </div>
}
    <script>
    $("[id='is_active']").bootstrapSwitch();
    if(document.getElementById("inactive").checked){
    document.getElementById('is_active').disabled = true;
    }
    </script>

    <style type="text/css">
    .panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    }
    .panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
    }
    .panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
    }
    /*** PANEL INFO ***/
    .with-nav-tabs.panel-info .nav-tabs > li > a,
    .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
    }
    .with-nav-tabs.panel-info .nav-tabs > .open > a,
    .with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
    background-color: #bce8f1;
    border-color: transparent;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.active > a,
    .with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
    color: #31708f;
    background-color: #fff;
    border-color: #bce8f1;
    border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
    }
    </style>